@charset "utf-8";
.pointer {
    cursor: pointer;
}

.floatToLeft {
    display: inline-block;
    float: left;
}

.floatToRight {
    display: inline-block;
    float: right;
}

.clearFix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both
}

.clearFix {
    *zoom: 1
}

.backgroundTransparent {
    background-color: transparent;
}

.autoWrap {
    word-wrap: break-word
}

.autoOmit {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.autoOmit_2 {
    display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;
}

.clearBoth {
    clear: both;
}

.textCenter {
    text-align: center;
}

.page-title {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    color: white;
}