@font-face {
    font-family: "iconfont"; /* Project id 1608423 */
    src: url('//at.alicdn.com/t/c/font_1608423_kio1e8v3csd.woff2?t=1659630809449') format('woff2'),
    url('//at.alicdn.com/t/c/font_1608423_kio1e8v3csd.woff?t=1659630809449') format('woff'),
    url('//at.alicdn.com/t/c/font_1608423_kio1e8v3csd.ttf?t=1659630809449') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhuzhai:before {
    content: "\e62d";
}

.icon-csdn:before {
    content: "\e639";
}

.icon-fanhui:before {
    content: "\e67a";
}

.icon-wenhao:before {
    content: "\e64e";
}

.icon-lianjie:before {
    content: "\e600";
}

.icon-github:before {
    content: "\e6f6";
}

.icon-shijian:before {
    content: "\e614";
}

.icon-weibiaoti1:before {
    content: "\e61b";
}

.icon-liulan:before {
    content: "\e640";
}

.icon-icon-test1:before {
    content: "\e638";
}
