.right_box {
  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .site-layout .site-layout-background {
    background: #fff;
  }

  .headMenuSmallMode {
    margin-right: 200px;
    animation: toSmallMode 0.2s 1;
  }

  .headMenuBigMode {
    margin-right: 80px;
    animation: toBigMode 0.2s 1;
  }

  @keyframes toBigMode {
    from {
      margin-right: 200px;
    }
    to {
      margin-right: 80px;
    }
  }

  @keyframes toSmallMode {
    from {
      margin-right: 80px;
    }
    to {
      margin-right: 200px;
    }
  }

  .ant-tabs-tab {
    border-radius: 10px 10px 0 0 !important;
  }

  .ant-timeline.ant-timeline-label .ant-timeline-item-label {
    width: calc(30% - 12px);
  }

  .ant-timeline.ant-timeline-alternate .ant-timeline-item-head, .ant-timeline.ant-timeline-alternate .ant-timeline-item-head-custom, .ant-timeline.ant-timeline-alternate .ant-timeline-item-tail, .ant-timeline.ant-timeline-label .ant-timeline-item-head, .ant-timeline.ant-timeline-label .ant-timeline-item-head-custom, .ant-timeline.ant-timeline-label .ant-timeline-item-tail, .ant-timeline.ant-timeline-right .ant-timeline-item-head, .ant-timeline.ant-timeline-right .ant-timeline-item-head-custom, .ant-timeline.ant-timeline-right .ant-timeline-item-tail {
    left: 30%;
  }

  .ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content, .ant-timeline.ant-timeline-label .ant-timeline-item-left .ant-timeline-item-content, .ant-timeline.ant-timeline-right .ant-timeline-item-left .ant-timeline-item-content {
    left: calc(30% - 4px);
    width: calc(70% - 14px);
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    cursor: default !important;
  }
}
