/*用 modern-normalize 统一浏览器默认样式*/
@import '../node_modules/modern-normalize';

.backgroundTransparent {
    background-color: transparent;
}

.textCenter {
    text-align: center;
}

/*文本自动换行*/
.autoWrap {
    word-wrap: break-word
}

/*文本溢出行内省略*/
.autoOmit {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*文本溢出 2 行后的部分省略*/
.autoOmit_2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pointer {
    cursor: pointer;
}

.text1 {
    background-color: #fbb21e;
    font-size: 64px;
}